@import url('https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro:400,900&display=swap');
/*Global styles*/
*{
  margin: 0;
  padding: 0;
}
.wrapper{
  margin:0 auto;
  width:1000px
}

.poster{
  width: 300px;
}

