@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Gayathri:wght@100&display=swap');

html {

  font-family: 'Lato', sans-serif ;
  
    /* The image used */
    background-image: url("img_mee.jpg");
    background-size: 100%;
  
    /* Full height */

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

body {
   font-family: 'Lato', sans-serif;
   font-style: none underline;
  margin:0px;
  padding: 0px;
  color:#fdfcfc;
}
ul{
   list-style:none;
}
a {
  text-decoration: none;
}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 00;
  letter-spacing: 0px;
  font-family: lato;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0,0,0,0,05);
  z-index: 1;
}
.menu{
  display: flex;
}
.menu li a{
  padding: 10px 15px;
  color:#202020;
  font-size: 11px;
}
.lang{
  color:#3b3a3a;
}
.logo{
  font-size: 12px;
  font-weight: bold;
  color:#3a637e;
  font-family:Poppins;
}
.toggle{
  display:none;
}
.active a,
.menu li a:hover{
  background-color:#0f0f0f;
  color:#ffffff !important;
  font-weight: bold;
  transition: all ease 0.3s;
}


.name h2{
  color:#c4d1fa;
  font-family: lato;
  width:100px;
	height: 10px;
	display: flex;
  align-items: center;
  margin:80px;
  margin-top: 340px;
  font-size: 80px;
}


.name h1{
  font-family: lato;
  font-style: bold;
  line-height: 2.5;
  height: 30;
  font-size: 30px;
  margin: 1.5px;
  letter-spacing:5px;
  color:#ffdfdf;
}
.name{
  font-family:lato;
  font-size: 18px;;
  width: 450px;
	position: absolute;
	left: 65%;
  top: 30%;
  line-height: 1.5;
  transform: translate(-40%,-50%);
}


 



