@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Gayathri:wght@100&display=swap');
html {
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif ;
  background-color: #feb8c6;
}

body {
   font-family: 'Lato', sans-serif;
  margin:0px;
  padding: 0px;
  color:#2b2d2f;
}
ul{
   list-style:none;
}
a {
  text-decoration: none;
}
#main{
  padding:20px 50px;
  display: flex;
  position:relative;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #fde8ed;
  background-image: url("../img/mee.png");
  background-repeat: no-repeat;
  background-size: 950px; 
  background-position: right bottom;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin: 50;
  font-weight: 800;
  letter-spacing: 1.5px;
  font-family: lato;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 50px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 22px rgba(0,0,0,0,05);
  z-index: 1;
}
.menu{
  display: flex;
}
.menu li a{
  padding: 10px 15px;
  color:#61646e;
  font-size: 13px;
}
.lang{
  color:#3b3a3a;
}
.logo{
  font-size: 15px;
  font-weight: bold;
  color:#cc8e8e;
  font-family:Poppins;
}
.toggle{
  display:none;
}
.active a,
.menu li a:hover{
  background-color:#292929;
  color:#ffffff !important;
  font-weight: bold;
  transition: all ease 0.4s;
}


.name h2{
  color:#ff768b;
  font-family: lato;
  width:200px;
	height: 45px;
	display: flex;
  align-items: center;
  margin:60px;
  font-size: 90px;
}

.name h1{
  font-family: gayathri;
  line-height: 1.5;
  height: 70;
  font-size: 35px;
  margin: 13.5px;
  letter-spacing: 1.5px;
  color:#302f2f;
}
.name{
  font-family:lato;
  font-size: 20px;;
  width: 500px;
	position: absolute;
	left: 40%;
  top: 50%;
  line-height: 1.5;
  transform: translate(-40%,-50%);
}


 



