@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Gayathri:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
html {

  font-family: 'Lato', sans-serif ;
}

body {
  background-image: url(../img/mee.jpeg);
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
   font-family: 'Lato', sans-serif;
   font-style: none underline;

}
ul{
   list-style:none;
}
a {
  text-decoration: none;
}


nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: lato;
  position: fixed;
  top:1px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding:10px 100px;
  background-color: #2f302f;
  box-shadow: 2px 2px 12px rgba(0,0,0,0,30);
  z-index: 1;
}
.menu{
  display: flex;
}
.menu li a{
  padding: 12px 15px;
  color:#ffffff;
  font-size: 11px;
}
.lang{
  color:#ffffff;
}
.logo{
  font-size: 10px;
  font-weight: bold;
  color:#c8d2d8;
  font-family:Poppins;
}
.toggle{
  display:none;
}
.active a,
.menu li a:hover{
  background-color:#fcfafa;
  color:#080808 !important;
  font-weight: bold;
  transition: all ease 0.4s;
}


.name h2{
  color:#d8d5d5;
  font-family: roboto Slab;
  font-style: italic;
  width:1800px;
	height: -30px;
	display: flex;
  align-items: left;
  margin:0px;
  margin-top:340px;
  margin-left: 200px;
  font-size: 80px;
}


.name h1{
  font-family: lato;
  font-style: bold;
  line-height: 0px;
  width:1000px;
	display: flex;
  align-items: left;
  height: 100px;
  font-size: 40px;
  margin-left: 550px;
  margin-top:80px;
  letter-spacing:5px;
  color:#17d1ac;
}
.cv-btn{
	width:200px;
	height: 45px;
	display: flex;
  justify-content: center;
  margin-left:570px;
  margin-top:-60px;
	align-items: center;
	background-color:#17d1ac;
	color:#FFFFFF;
}
.cv-btn:hover{
	background-color: #7a7272;
	transition: all ease 0.5s;
}
.projects ul{ 
  font-family:lato;
  font-size:30px;
  width: 500px;
	position: absolute;
	left: 73%;
  top: 70%;
  line-height: 1.5;
  transform: translate(-40%,-50%);
}


 



