
li { /* styles all li elements*/
  list-style-type: none;
  list-style-type: none underline;
  color:#db8282
}

#ParentListID li { /* styles the li elements that have an ancestor element
                    of id="ParentListID" */
  list-style-type: none;
  list-style-type: none underline;
}

li.className { /* styles li elements of class="className" */
  list-style-type: none;
  list-style-type: none underline;
}
  no-bullets {
    list-style-type: none;
    list-style-type: none underline;
}

html {
 
  font-family: 'Lora', serif;
  margin: 30px;

  font-size:10px;
  font-family: lato;
  height: 30vh;
  background-color: #5178b3;
  padding: 30px 10px;
  line-height: 1px;
  font-style: none underline;
  background-repeat: no-repeat;
  background-size: 50px; 
}
h1{  text-align: none;
  padding: 0px;
  font: 'Roboto Slab';
  font-size: 50px;
  font-style:none underline;
  align-items: center;
  margin-top:10px;
  margin-left: -300px;
  color:#ffffff

}
ul{
  text-align: none;
  padding: 0px;
  font: lora;
  font-style:none underline;
  align-items: center;
  margin-top:10px;
  margin-left:0px;
  color:#ffffff
  
}

body{
   color: #ebebeb;
   font-family:sans-serif;
   font-style:none underline;
   font-size: 19px;;
   width: 300px;
   letter-spacing: 3px;
   position: absolute;
   left:40%;
   top: 50%;
   line-height: 35px;
   transform: translate(-30%,-70%)
}
main{
  margin-left: 0px;
  color:#643d3d;
  font-style:none underline;
  font-size:30px;
}
li{
  color:#fdf5f5;
  
}













