
li { /* styles all li elements*/
  list-style-type: none;
  color:#f85a5a
}

#ParentListID li { /* styles the li elements that have an ancestor element
                    of id="ParentListID" */
  list-style-type: none;
}

li.className { /* styles li elements of class="className" */
  list-style-type: none;
}
  no-bullets {
    list-style-type: none;
}

html {
 
  font-family: 'Lora', serif;
  background-color: rgb(230, 116, 116);
  margin: 10px;
  font-size:20px;
  font-family: lato;
  height: 30vh;
  background-color: #fde8ed;
  padding: 10px 50px;
  line-height: 2.5;
  
  background-repeat: no-repeat;
  background-size: 650px; 
}

ul{
  text-align: none;
  padding: 0px 10px;
  font: lora;
  align-items: top center;
  color:#f88383
}

.menu li a{
  padding: 10px 15px;
  color:#61646e;
  font-size: 13px;
}
body{
   color: #805a42;
   font-family:sans-serif;
   font-size: 25px;;
   width: 300px;
   position: absolute;
   left: 20%;
   top: 50%;
   line-height: 40px;
   transform: translate(-1%,-50%)
}
main{
  margin-left: 10px;
  color:#686868;
  font-size:20px;
}

li{
  color:#726e6e;
  
}











