

html {
  font-size: 1rem;
  font-family: 'Lora', serif;
  background-color: #fff;
}

ul{
  text-align: none;

}

body{
  list-style: none;
   color: #1f2c14;
}
a:hover {
  text-decoration: none;
  color: #ae7f3d;
}












