
li { /* styles all li elements*/
  list-style-type: none;
  list-style-type: none underline;
  color:#d49b9b;
}

#ParentListID li { /* styles the li elements that have an ancestor element
                    of id="ParentListID" */
  list-style-type: none;
  list-style-type: none underline;
}

li.className { /* styles li elements of class="className" */
  list-style-type: none;
  list-style-type: none underline;
}
  no-bullets {
    list-style-type: none;
    list-style-type: none underline;
}

html {
 
  font-family: 'Lora', serif;
  margin: 30px;

  font-size:10px;
  font-family: lato;
  height: 30vh;
  background-color: #fdfafa;
  padding: 30px 10px;
  line-height: 1px;
  font-style: none underline;
  background-repeat: no-repeat;
  background-size: 50px; 
}
h1{  
  text-align: none;
  padding: 0px;
  font: 'Roboto Slab';
  font-size: 100px;
  font-style:none underline;
  align-items: center;
  margin-top:400px;
  margin-left: -300px;
  color:#3db6ac;

}
ul{
  text-align: none;
  font-size:30px;
  padding: -80px;
  font: lora;
  font-style:none underline;
  align-items: center;
  margin-top:3px;
  margin-left:-80px;
  color:#3db6ac;
  
}

body{
   color: #eb4e4e;
   font-family:sans-serif;
   font-style:none underline;
   font-size: 19px;;
   width: 800px;
   letter-spacing: 3px;
   position: absolute;
   left:50%;
   top: 50%;
   line-height: 35px;
   transform: translate(-30%,-70%)
}
main{
  margin-left: -300px;
  color:#643d3d;
  font-style:none underline;
  font-size:20px;
}
li{
  color:#fdf5f5;
  margin-left: 0px;
  margin-top: 10px;
  
}













