

html {
  font-size: 1rem;
  font-family: 'Lora', serif;
  background-color: #fff;
}

body {
  padding:7rem 0;
  color:#000;
  margin: 0 0 20px 0;
}

a {
  text-decoration: underline;
  color: #ae7f3d;
}

a:hover {
   text-decoration: none;
   color: #ae7f3d;
}

main {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(40, 80px);
  grid-template-rows: repeat(300,100px); min-content: 
}

.intro-block {
  grid-column:2 / 3;
}

.article {
  grid-column:3 / 3;
}

.projects {
  grid-column:2 / 3;
}

.item {
  grid-column:1;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}

.definition {
  grid-column:2;
  border-top: 1px solid #ccc;
  padding: 1rem 0;
}



h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
  margin-bottom:3rem;
}

h1 {
  font-size:1rem;
  font-weight:1200;
  font-style: italic;
}
h2 {
  font-size:2.25rem;
}
h3 {
  font-weight:700;
  padding: 20px;
  margin: 20px 0 20px 0;
  font-size: 150%;
}
h4 {
  font-size:1rem;
}


li {
  font-size: 1.25rem;
  font-family: 'Lora', serif;
  line-height: 1.5;
  padding: .8rem 5;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom:1rem;
}

.location {
  font-size: 1rem;
  font-family: 'Lora', serif;
  text-transform: uppercase;
  line-height: 1.5;
}

.pull-quote {
  font-size: 2.25rem;
  font-family: 'Lora', serif;
  line-height: 1.5;
  font-weight:200;
  padding:2rem;
}

img {
  display: block;
  margin: 0 auto;
}

figcaption {
  font-size: .875rem;
  font-family: 'Lora', serif;
  padding-top: 3rem;
}
